conda.enabled = true

executor {
    // Aisla el entorno y confía en el programador del propio sistema operativo 
    name = 'local'
    
    // Límite estricto de RAM para proteger 4GB para el núcleo del sistema operativo 
    memory = '12 GB'
    
    // Contención térmica: limita el uso de la CPU para evitar estrangulamiento térmico 
    cpus = 6 
}

params {
    lotus_url = "https://lotus.naturalproducts.net/download/smiles" 
    pdb_id = "3VO3" // Estructura cristalográfica del VEGFR-2 con inhibidor 
    chunk_size = 10000 // Tamaño seguro de líneas para no saturar la RAM [cite: 122]
    
    // Definimos las carpetas de tu estructura de VS Code
    raw_dir = "${projectDir}/raw_data"
    outdir = "${projectDir}/results"
}

// Estrategia de resiliencia ante inestabilidades
process {
    errorStrategy = 'retry'
    maxRetries = 2

    // Embotellamiento asimétrico para procesos que usan la GPU (GNINA, ADMET-AI)
    withLabel: 'gpu_intensive' {
        maxForks = 1
    }
}

