conda.enabled = true

executor {
    name = 'local'
    
    memory = '12 GB'
    
    cpus = 6 
}

params {
    lotus_url = "https://lotus.naturalproducts.net/download/smiles" 
    pdb_id = "3VO3" 
    chunk_size = 10000 
    
    raw_dir = "${projectDir}/../raw_data"
    outdir = "${projectDir}/../results"
}

process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: 'gpu_intensive' {
        maxForks = 1
    }
}

